
body{

    text-align: center;
    background: linear-gradient(90deg,rgb(255, 0, 234), yellow, orange, purple);
}

#windows{
    color: white;
    background: rgb(255, 0, 234);
}
#account{
    color: white;
    background: black;
}
#google{
    color: white ;
    background: rgb(124, 32, 160);
    
}
#azzure{
    color: white;
    background:rgb(177, 40, 92);
}
#Multinational{
    color: white;
    background: green;
}

